@media only screen and (min-width: 37.5em) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    main,
    footer {
        max-width: 760px;
        margin: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navigation li:first-child {
        display: none;
        white-space: nowrap;
    }

    .navigation li {
        display: block;
    }

    /*.hidemap, .hide5day {
        display: unset;
    }
    
    .fish {
        float: right;
        width: 400px;
        height: 266px;
    }
    .factory {
        float: right;
        width: 400px;
        height: auto;
    }
    */
    /*.contactinfo {
        float: right;
    }

    .mapcontactsection {
        display: flex;
        flex-direction: row;
    }*/

    /* Home page */
.photohighlightsection {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    
}
.buttonsection {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}
.formsection {
    display: grid;
    grid-column: 2;
    grid-row: 2
}
.contactsection {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}
.mapsection {
    display: grid;
    grid-column: 2;
    grid-row: 3;
}
}
