/*Main and Body*/
/*
font-family: 'Great Vibes', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Sawarabi Mincho', sans-serif;
*/
/*Headings*/
.logo {
    width: 100px;
    height: auto;
    display: block;
    padding: 10px;
} 
    
header {
        background-color: #f0edee;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b8a632;
        
    }
.tagline {
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 28px;
    font-size: 24px;
}
.headings {
    text-align: center;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
}
/*End of Headings*/
/*Main text*/
h2 {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    font-size: 24px;
}
p {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    font-size: 18px;
}
.homeimg {
    padding: 10px;
    height: auto;
    justify-items: center;
} 

/*Navigation*/
nav {
    margin: 0 auto;
}
nav ul {
    overflow: hidden;
}
nav ul li a:hover {
    /*color: #606d5d;*/
    color: #b8a632;
    background-color: #306c5f;
    text-decoration: none;
}
nav ul li.active a {
    background-color:#f0edee ;
    color: #b8a632;
}
.navigation {
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    background-color: #07393c;
    padding: 0;
    overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
nav ul li a {
    text-decoration: none;
    list-style: none;
    /*color: #1f2421;*/
    color: #b8a632;
}
.navigation a {
    padding: .5rem;
    display: block;
}
.responsive li {
    display: block;
}
.current {
    background-color: #306c5f;
    color: #f0edee;
}
/*End of Navigation*/

/*button*/
.buttonsection {
    padding: 10px;
}
button {
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    color: #e9fde2;
    background-color: #b8a632;
    border: none;
    font-family: 'Philosopher', sans-serif; 
    font-size: 20px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 20rem;
}
button:hover {
    background-color: #07393c;
}
/*End of button*/

/*main*/ 

/* End of main */

/*body*/
.formdiv {
    margin: 0 auto;
    text-align: left;
    width: 400px;
    max-width: 100%;
    background-color: hsl(167, 38%, 31%, .5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(27, 94, 94) 0px 2px 7px 4px;
    padding: 10px;
}
form fieldset {
    border:  #07393c 1px solid;
    margin: 2rem 0;
    padding: 10px;
    font-family: 'Sawarabi Mincho', sans-serif;  
}
.formh2 {
    text-align: center;
    margin: 0 auto;
    float: none;
    padding: 10px;
    font-size: 22px;
    color: #466365;
}
.formh3 {
    text-align: center;
    margin: 0 auto;
    float: none;
    padding: 10px;
    font-size: 18px;
    color:#0a090c;
    font-family: 'Sawarabi Mincho', sans-serif; 
}
legend, label {
    color: #0a090c;
    font-size: 18px;
    padding: 10px;
    font-family: 'Sawarabi Mincho', sans-serif;
}
form label.top, form div {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #0a090c;
}
form label.top input, form label.top select {
    padding: .75rem;
    border-radius: 5px;
    display: flex;
    max-width: 20rem;
    width: 100%;
    /*background-color: rgba(0, 0, 0, .1);*/
}
form label.sbs {
    display: flex;
    padding: .75rem 0;
}
form input.submitBtn {
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    color: #f0edee;
    background-color: #b8a632;
    border: none;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 16px;
    width: 50%;
    margin-bottom: 1rem;
}

form label.top input:required {
    border-left: rgb(26, 11, 228) solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

.contactsection {
font-family: 'Philosopher', sans-serif;
text-align: center;
font-size: 30px;

}
.mapsection{
    padding: 10px;
    justify-content: center;
    
}
.formsection-a{
    grid-column-start: span 2;
}
/*End of body*/

/* footer */
footer {
    background-color: #07393c;
    font-family: 'Philosopher', sans-serif; 
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #b8a632;
    clear: both;
}
.link {
color:  #b8a632;
}
/*Services page */

.formsection-c{
    grid-column-start: span 2;
    
}
.optionlist ul li {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 16px;
}
.wedding3{

    justify-items: center;
}

