body {
    max-width: 760px;
    margin:0 auto;
    
}
header {
 font-size: 18px;
 font-family: 'Libre Baskerville', serif;
 line-height: 1px;
 text-align: center;
 padding: 1rem;
 color: white;
 background-color: steelblue;
 
}

h2 {
    font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  padding: 10px;
  }
  footer {
  background-color: steelblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: white;
  text-align: center;
  
  padding: 1rem;
   }
  

