@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

/* The font for the headlines is Lora and can be found on Google fonts
The font list for the body copy is: Helvetica, Arial, sans-serif
The blue color is #6495ED.
The background color used for <main> and the color of the text on the blue sidebar is #FAEBD7
Navigation links should behave thus: normal and visited: #FAEBD7 and no underline , active: #DEB887, hover: white and underlined
Other page links should behave thus: normal and visited: #6495ED and no underline , active: #DEB887, hover: underlined
Article title links should behave thus: normal and visited: black and no underline , active: #DEB887, hover: #6495ED and underlined
You should be able to do this without modifying the html. Have that as your goal. If you do end up changing the .html file make sure to submit it with your css! */

header{
 
 background-color: #6495ED;
 display: flex;
 
 

}
h1 {
    font-family:  'Lora', serif;
    font-size: 40px;
    color: #FAEBD7;
    text-decoration: none;
}
main{
background-color: #FAEBD7;
display: grid;
grid-template-columns: 1fr ;
text-align: left;
justify-items: center;
column-gap: 10px;
row-gap: 10px;
}
nav ul{

}
a{
display: grid;
grid-template-columns: 1fr ;
text-align: center;
justify-items: center;
column-gap: 10px;
row-gap: 10px;
}

.post-date{
    font-family: Arial, Helvetica, sans-serif;

}
img{
    width: 400px;
    height: auto;
    margin: auto 0;
}



