@media only screen and (min-width: 32.5em){
    .img {
        float: right;
    }
    header {
        font-size: 24px;
        font-family: 'Libre Baskerville', serif;
        line-height: 1px;
        text-align: center;
        padding: 1rem;
        color: white;
        background-color: steelblue;
        border-radius: 12px 12px 12px 12px;
    }
    
      h2 {
        font-family: 'Libre Baskerville', serif;
      font-size: 18px;
      padding: 10px;
      }
}