h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 32px;
color: green;
text-align: center;

}

footer {
color: white;
 text-align: center;
 background-color: green;
 border-radius: 20px; 
 padding: 14px;  
}

img {
    min-width: 50px;
    min-height: 50px;
    display: grid;
    grid-template-columns: 300px;
    padding: 5px;
    margin: 0 auto;
}
picture img[data-src] {
    filter: blur(0.2em);
  }

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}