@media only screen and (min-width: 60em) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 5px 8px 0;
    }
}


/* Home page  */

.towncard{
 
flex-direction: row;

}

.towncards{
    display: flex;
    flex-direction: column;
    
    border-radius: 6px;
    margin: 0px auto;
    padding: 10px;

}

cards section span{
width: 100%;
height: auto;

}