 body {
     max-width: 760px;
     magin:0 auto;
     

     
  }
  header{
  font-size: 18px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 1rem;
  
  
  
  color: white;
  background-color: blue;

   }