 body {
     max-width: 760px;
     magin:0 auto;
     
}
  header{
  font-size: 24px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 1rem;
  color: white;
  background-color: blue;
}

.img {
width: 150px;
height: 240px;
border-radius: 6px;
float: right;
box-shadow: 4px 4px 4px 4px black;
}

footer {

background-color: blue;

 }

