body{
    max-width: 760px;
    height: auto;
    background-color: #add79c;   

}
nav ul {
    background-color: #466365;
    width: 100%;
    font-size: 20px;
     text-decoration: none;
     list-style: none;
     line-height: 30px;
     font-family: Arial, Helvetica, sans-serif;
     display: block;
     flex-wrap: wrap;
     align-items: center;
     padding: 15px;
     justify-content: space-around;
     border: 1px solid transparent;
     overflow: hidden;
}
#navli {
    color: #1f2421;
    text-decoration: none;
     list-style: none;
}
#navli:hover {
    color: #606d5d;
    
}
#imghome, #imgtar, #imgtar1, #imgcolor  {
    width: 450px;
    padding: 15px;
}

#topcolor {
    background-color: #add79c;
    padding: 0px;
    
}

h1 {

    text-align: center;
    font-size: 30px;
    font-family:'Libre Baskerville', serif;
    line-height: 1px;
    padding: 0rem;
    color: #1f2421;
    margin-bottom: 30px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 15px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 15px;
    line-height: 30px;
}

main {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr;
    border-radius: 15px 15px 15px 15px;
    max-width: 767px;
    margin: .5rem; 
}

#logo {

    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
footer {
    text-align: center;
}
#colortable {
    max-width: 450px;
}
th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: #466365;
    padding: 10px;
}
td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: #729b79;
    padding: 10px;
}