body{

    background-color:#466365;   

}
nav ul {
    background-color:#1f2421;
     text-decoration: none;
     list-style: none;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding: 15px;
     justify-content: space-between;
}