@media only screen and (min-width: 37.5em) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    main,
    footer {
        margin: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navigation li:first-child {
        display: none;
        white-space: nowrap;
    }

    .navigation li {
        display: block;
    }
    .svch2 {
        grid-column: span 2;
    }
    /* Home page */
.photohighlightsection {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    
}
.buttonsection {
    display: grid;
    grid-column-start: span 2;
    grid-row: 1;
}
.formsection {
    display: grid;
    grid-column: 2;
    grid-row: 2
}
.formsection-c {
    grid-row: 3;
}
.formsection-temple {
    grid-row: 3;
}
.contactsection {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}
.mapsection {
    display: grid;
    grid-column: 2;
    grid-row: 3;
}
.contactsectionsvc {
    display: grid;
    grid-column: 2;
    grid-row: 3;
}
.amenities {
    grid-column-start: span 2;
}
.templecards {
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column-start: span 2;
}
.contactsection-temple {
    grid-row: 3;
    grid-column: 2;
}
.templecardsection {
    grid-column: span 2;
}
.weathersummaryB, .weathersummaryP, .weathersummaryF, .weathersummaryNB {
    max-width: 50%;
}
.buttonsection p {
    max-width: 800px;
}
}
